*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    background-color: black;
    list-style-type: none;
    padding: 2px;
    margin: 0;
    color: white;
    text-align: right;
    width: 100%;
    
}

.taskade img{
    width: 30px;
    float: left;
    
    
}
.navbar li{
    display:inline-block;
    margin-right: 10px;
}

 li .span{
    float: left;
    padding-left:30px;
    

}
.btn{
    background-color: orange;
    border-radius: 15px;
    font-size: small;
    color: white;
    padding: 1px;
    margin-top: 50px ;
    width: 150px;
    text-align: center;
}

.para pre{
    font-size: 60px;
    margin: 0;
    padding-left: 0;

}
button{
    background-color: black;
    width: 200px;
    height: 30px;
    font-size: 10px;
    color: white;
    padding: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.image img{
    width: 25px;
    height: 10px;
    background-color: black;
    padding-left: 10px;
    margin-right: 20px;

}
.sign p {
    color: gray;
    font-size: 12px;
    margin-left:50px
    

}
.remote img{
    position: absolute;
    top: 5;
    right: 0;
    bottom: 0;
    width: 450px;
    height:300px;
    margin-right: 20px;
    
    
    
    
}